<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/cesium']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CESIUM</a>
  <a [routerLink]="['/semantic']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SEMANTIC</a>
</nav>
